body {
    margin: 60px auto;
    width: 70%;
    background-image: url("https://img.freepik.com/free-vector/cinema-film-strips-blue-background_1017-23456.jpg?w=2000");
    background-size: cover;
    background-attachment: fixed;
}

nav ul {
    font-family:'Century Gothic', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 25px;
    word-spacing: 2em;
}

a.nav{
    color: Black;
    text-decoration: none;
}

nav 
{
  background-color: rgba(255,255,240, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul li {
    text-decoration: none;
    display: block;
    margin: center;
    text-align: center;
    color: Black;
}

a:hover {
    background-color: black;
    color: white;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

ul li{
    list-style: none;
    text-decoration: none;
}

footer {
    background-color: rgba(25, 25, 112, 0.5);
    bottom: 0;
    width: 100%;
}

footer ul li {
    text-decoration: none;
    display: block;
    margin: center;
    text-align: center;
    color: whitesmoke;
}

a.foot {
    color: whitesmoke;
    text-decoration: none
}
