
body {
    margin: 60px auto;
    width: 70%;
    background-image: url("https://img.freepik.com/free-vector/cinema-film-strips-blue-background_1017-23456.jpg?w=2000");
    background-size: cover;
    background-attachment: fixed;
}
